<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: rgb(241, 242, 246);">
<div class="docs-header">
  <!--nav-->
  <nav class="navbar navbar-default navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">TDD开发ROR应用</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="getting-started.html">Courses</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--header-->
</div>
<!--documents-->
<div class="container documents">
  <%= yield %>
</div>
<!--footer-->
<div class="site-footer">
  <div class="container">
  </div>
</div>

</body>
</html>
